.component-schedule p{
    padding-bottom: 50px;
}
.component-schedule p{
    padding: 0 40px;
}
.component-schedule .bar{
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}